.u-section-1 .u-sheet-1 {
  min-height: 872px;
}

.u-section-1 .u-text-1 {
  font-size: 2.5rem;
  margin: 32px 657px 0 11px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 129px 169px 0 779px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -22px 472px 0 475px;
}

.u-section-1 .u-image-1 {
  width: 145px;
  height: 145px;
  background-image: url("images/unnamed1.png");
  background-position: 50% 50%;
  margin: -5px auto 0 184px;
}

.u-section-1 .u-image-2 {
  width: 145px;
  height: 145px;
  background-image: url("images/unnamed3.png");
  background-position: 50% 50%;
  margin: -130px auto 0 486px;
}

.u-section-1 .u-image-3 {
  width: 145px;
  height: 145px;
  background-image: url("images/unnamed5.png");
  background-position: 50% 50%;
  margin: -153px auto 0 793px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: -169px 768px 0 180px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 140px auto 0 180px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -14px auto 0 485px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -46px auto 0 790px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 80px 178px 0 769px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  margin: -22px 468px 0 478px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -22px 777px 0 169px;
}

.u-section-1 .u-image-4 {
  width: 145px;
  height: 145px;
  background-image: url("images/unnamed2.png");
  background-position: 50% 50%;
  margin: 7px auto 0 189px;
}

.u-section-1 .u-image-5 {
  width: 145px;
  height: 145px;
  background-image: url("images/unnamed4.png");
  background-position: 50% 50%;
  margin: -145px auto 0 499px;
}

.u-section-1 .u-image-6 {
  width: 145px;
  height: 145px;
  background-image: url("images/unnamed6.png");
  background-position: 50% 50%;
  margin: -143px auto 0 794px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 8px auto 0 189px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 0 499px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 60px 799px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 120px;
    margin-right: 468px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -60px;
    margin-right: 69px;
    margin-left: 679px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 372px;
    margin-left: 375px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -69px;
    margin-left: 115px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 415px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 680px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -24px;
    margin-right: 668px;
    margin-left: 161px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-left: 111px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 285px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -44px;
    margin-right: 215px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 257px;
    margin-right: 78px;
    margin-left: 669px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -19px;
    margin-right: 368px;
    margin-left: 378px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -281px;
    margin-right: 677px;
    margin-left: 69px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 175px;
    margin-left: 115px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 415px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 680px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 65px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 299px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 599px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 142px;
    margin-right: 248px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 528px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 262px;
    margin-left: 265px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -91px;
    margin-left: 108px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 408px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 468px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 528px;
    margin-left: 123px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 1px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 65px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 370px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 527px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 258px;
    margin-left: 268px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -290px;
    margin-right: 526px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 184px;
    margin-left: 108px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 408px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 468px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 79px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 68px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: -42px;
    margin-left: 348px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 172px;
    margin-left: 175px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 288px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 288px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 348px;
    margin-left: 92px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 190px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 347px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 168px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 346px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 288px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 199px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 120px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 148px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 72px;
    margin-left: 75px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -69px;
    margin-left: 98px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 98px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 148px;
    margin-left: 58px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 195px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 147px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 68px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -281px;
    margin-right: 146px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 175px;
    margin-left: 98px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 98px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: url("images/Solid_black.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 720px;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  margin: 12px 668px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 55px 467px 0 479px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -22px 776px 0 172px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -22px 138px 0 810px;
}

.u-section-2 .u-image-1 {
  width: 145px;
  height: 145px;
  background-image: url("images/phoenix2.png");
  background-position: 50% 50%;
  margin: 12px 502px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 145px;
  height: 145px;
  background-image: url("images/eternity_1.jpg");
  background-position: 50% 50%;
  margin: -149px auto 0 826px;
}

.u-section-2 .u-image-3 {
  width: 145px;
  height: 145px;
  background-image: url("images/astro-web.jpg");
  background-position: 50% 50%;
  margin: -144px auto 0 177px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0 172px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 0 489px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 0 821px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 62px 776px 0 172px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: -22px 451px 0 463px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: -22px 92px 0 821px;
}

.u-section-2 .u-image-4 {
  width: 145px;
  height: 145px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: 12px auto 0 177px;
}

.u-section-2 .u-image-5 {
  width: 145px;
  height: 145px;
  background-image: url("images/MONEYWEB.jpg");
  background-position: 50% 50%;
  margin: -145px auto 0 493px;
}

.u-section-2 .u-image-6 {
  width: 145px;
  height: 145px;
  background-image: url("images/slyentwebsite.jpg");
  background-position: 50% 50%;
  margin: -145px auto 0 826px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0 177px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 0 489px;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -39px auto 60px 821px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 468px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 203px;
    margin-right: 367px;
    margin-left: 379px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 12px;
    margin-right: 676px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -62px;
    margin-right: 38px;
    margin-left: 710px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -179px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 795px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 55px;
    margin-left: 112px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 289px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 621px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -86px;
    margin-right: 676px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 186px;
    margin-right: 351px;
    margin-left: 363px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -8px;
    margin-right: 0;
    margin-left: 714px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -290px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 17px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -142px;
    margin-left: 795px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -14px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 5px;
    margin-left: 289px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 621px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 248px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 47px;
    margin-right: 257px;
    margin-left: 269px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 528px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 528px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -23px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 575px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -101px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 69px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 401px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 528px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 238px;
    margin-right: 241px;
    margin-left: 253px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -88px;
    margin-left: 494px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -106px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -27px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -150px;
    margin-left: 575px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -102px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -39px;
    margin-left: 69px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 145px;
    margin-bottom: 0;
    margin-left: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 68px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 42px;
    margin-right: 167px;
    margin-left: 179px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 348px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 126px;
    margin-left: 348px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -188px;
    margin-right: 395px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 395px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -124px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 149px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -1px;
    margin-left: 221px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 348px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 151px;
    margin-left: 163px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 314px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -309px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 176px;
    margin-left: 395px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -282px;
    margin-left: 395px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 11px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -39px;
    margin-left: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 57px;
    margin-right: 67px;
    margin-left: 79px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 148px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 118px;
    margin-left: 148px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -195px;
    margin-right: 195px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 195px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -109px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 141px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -8px;
    margin-left: 195px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 148px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 51px;
    margin-left: 63px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 114px;
  }

  .u-section-2 .u-image-5 {
    margin-left: 195px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 195px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 21px;
  }
}.u-section-3 {
  background-image: url("images/Solid_black.png");
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 149px;
  }
}